* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #222;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #222;
  border: 2px solid #777;
  float: left;
  font-size: 175px;
  font-weight: lighter;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  color: aquamarine
}

.square[isWinningSquare="true"] {
  border: 5px solid #FF69B4;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 20px;
  font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  font-size: 100px;
  text-align: center;
  color: #FF69B4;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 100px;
  font-size: 35px;
  font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  margin-top: 100px;
}

li {
  margin-top: 18px;
  margin-left: 0px;
}

.jump-button {
  font-size: 30px;
  font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  border-radius: 10px;
  border: 1px solid #8EDCE6;;
  background: #444;
  width: 280px;
  text-align: center;
  color: #8EDCE6;
  margin-top: 0px;
}

ol {
  color: #8EDCE6;
}

#x-button {
  color: aquamarine;
}

#o-button[id="o-button"] {
  color: #9191E9;
}

@media (max-width: 1040px) {

  body {
    vertical-align: top;
  }
  .square {
    font-size: 100px;
    line-height: 120px;
    height: 120px;
    width: 120px;
  }

  .game {
    flex-direction: column;
  }

  .status {
    margin-bottom: 20px;
    margin-left: -5px;
    margin-top: 20px;
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 60px;
    text-align: center;
    color: #FF69B4;
  }

  ol {
    margin-left: -70px;
    margin-top: -50px;
  }
}
